satellite:
  url: https://sat62disc.example.org
  username: svc-api
  password: AP1Us3r
  disconnected: True

logging:
  dir: /var/log/satellite
  debug: True

export:
  dir: /var/sat-export

import:
  dir: /var/sat-content
