satellite:
  url: https://sat62.example.org
  username: svc-api-user
  password: 1t$a$3cr3t
  default_org: MyOrg
  manifest: my-satellite
  disconnected: False

logging:
  dir: /var/log/satellite
  debug: False

export:
  dir: /var/sat-export

import:
  dir: /var/sat-content
  syncbatch: 50

  puppet-forge-server:
    hostname: puppetforge.example.org
